:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
}
body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  margin: 0;
}
/* header */
.logo {
  color: var(--primary-text-color);
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.color {
  color: var(--accent-color);
}

ul li {
  list-style: none;
}

.background {
  background-color: #ffffff;
}
.site-naw .link.current {
  color: var(--accent-color);
}

/*Секция героя*/
button {
  display: inline-block;
  padding: 10px;

  color: #ffffff;
  background-color: var(--accent-color);
  border: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero {
  width: 1200px;
  margin-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
}

/*Секция преимущества*/
.advantages-containet {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.advantages-containet:not(:last-child) {
  margin-bottom: 94px;
}

.advantages {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}
.foto {
  display: flex;
  justify-content: space-between;
}
.advantages-title {
  display: flex;
  justify-content: space-between;
}

p {
  color: var(--title-text-color);
}
.second {
  margin-top: 10px;
  /* margin-right: 30px;  */
  font-size: 14px;
  line-height: 1.71;
  margin-right: 30px;
}

/* наша работа*/
.important {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*команда*/
.section {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}
.section:not(:last-child) {
  margin-bottom: 94px;
}

.bot {
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 30px;
}
.section-item-en {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.section .advantages-containet {
  padding-top: 94px;
}
.item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 30px;
  margin-bottom: 10px;
}
.item-en {
  font-size: 16px;
  line-height: 1.18;
}

/*подвал*/
.bottom {
  background-color: #2f303a;
  padding-bottom: 60px;
}
.white {
  color: #ffffff;
}
.new {
  color: var(--accent-color);
}
.address {
  color: rgba(255, 255, 255, 0.6);
}

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* синий для виделений акцент #2196F3 */
/* белый цвет  #FFFFFF */
/* цвет с прозрачность для подвала rgba(255, 255, 255, 0.6);*/
